/EjercicioPropuesto2T8/build/
/EjercicioPropuesto2T8/nbproject/private/
/EjercicioPropuesto3T8/build/
/EjercicioPropuesto3T8/nbproject/private/
/EjercicioPropuesto4T8/build/
/EjercicioPropuesto4T8/nbproject/private/
/EjercicioPropuesto5T8/build/
/EjercicioPropuesto5T8/nbproject/private/
/EjercicioPropuesto6T8/build/
/EjercicioPropuesto6T8/nbproject/private/
/EjercicioPropuesto7T8/build/
/EjercicioPropuesto7T8/nbproject/private/
/EjercicioPropuesto8T8/nbproject/private/
/EjercicioPropuesto8T8/build/
/EjercicioPropuesto1T8/build/
/TiendaElectrodomesticos/nbproject/private/
/Examen2Evaluacion/nbproject/private/
/Examen2Evaluacion/build/
/FabricaMonedaTimbre/nbproject/private/
